<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<div class="container" style="margin-top: 180px;">
    <div class="col-md-12" style="margin-top: 100px">
        <h2 class="section-head">CONTACT</h2>
            <div class="row">
                <div class="col-md-4">
                    <span class="contact"><i
                            class="contact-icon fa-sharp fa-solid fa-location-dot fa-3x"></i></span>
                    <p class="contact-subhead-font">ADDRESS</p>
                    <p class="contact-sub-font"><strong>İstanbul</strong><br/>
                        Beşiktaş/İstanbul</p>
                </div>
                <div class="col-md-4">
                    <span class="contact"><i class="contact-icon fa-sharp fa-solid fa-envelope fa-3x"></i></span>
                    <p class="contact-subhead-font">EMAIL</p>
                    <p class="contact-sub-font"><a href="mailto:info@penfest.com.tr">info@twoyou.com.tr</a></p>
                </div>
                <div class="col-md-4">
                    <span class="contact"><i class="contact-icon fa-sharp fa-solid fa-phone fa-3x"></i></span>
                    <p class="contact-subhead-font">PHONE NUMBER</p>
                    <p class="contact-sub-font">0555 555 55 55</p>
                </div>
            </div>
        </div>
        <hr>
    </div>