<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="bread"><span><a href="index.html">Home</a></span> / <span>About</span></p>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="card mb-3" style="max-width: 1400px; margin-top: 150px;">
      <div class="row g-0">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body" style="background-color: #343a40;">
            <h5 class="card-title" style="color: white; font-weight: bold; font-size: 40px;">Misyonumuz</h5>
            <p class="card-text" style="color: white; font-size: 16px;">Farklı ürünlerle insanların hayatlarını iyileştirmek <br>
              “Farklı ürünlerle insanların hayatlarını iyileştirin” Kaliteli ürünler her zaman kazandırır.</p>
        </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-4">
          <img style="width: 200px; height:auto; margin-left: 90px; margin-top: 20px;" src="assets/images/logo1.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" style="background-color: #343a40;">
            <!-- <h5 class="card-title" style="color: white; font-weight: bold; font-size: 40px;">Misyonumuz</h5> -->
            <p class="card-text" style="color: white; font-size: 16px;">Yeniliği ve mühendislik mükemmelliğini tanımlayan ürünler yaratarak insanları daha iyi yaşamaları için güçlendirmek.</p>
        </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-8">
          <div class="card-body" style="background-color: #343a40;">
            <h5 class="card-title" style="color: white; font-weight: bold; font-size: 40px;">Vizyonumuz</h5>
            <p class="card-text" style="color: white; font-size: 16px;">Türkiye'nin en yenilikçi şirketi olmak
              o Eşsiz inovasyon, mühendislik ve tasarım yoluyla herkes için her günü daha iyi hale getiren bir şirket olarak tanınmak.</p>
        </div>
        </div>
      </div>
    </div>     
  </div>
</div>     

